.container {
    background-color: #82C0CC;
}

svg {
    stroke: #16697A;
    stroke-width: 7.5;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}

label.btn:hover {
    background-color: #EDE7E3;
}

.btn-check {
    background-color: #16697A;
}

#wavename {
    background-color: #16697A;
}

input {
    background-color: transparent;
}


input[type="range"] {
    padding: 0;
}