<section class="main">
    <div class="container p-4">
        <div class="row">
            <p class="col-md-1">wave<br>type</p>
            <div class="btn-group btn-group-toggle col-md-2" role="group" data-toggle="buttons">

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="waveform" id="square" autocomplete="off">
                    <label class="btn btn-outline-primary" for="square"><svg viewBox="0 0 120 120" width="40" height="40"
                        preserveAspectRatio="xMidYMid">
                        <polyline points="0 60, 20 60, 20 20, 60 20, 60 100, 100 100, 100 60, 120 60" />
                    </svg></label>

                    <input type="radio" class="btn-check" name="waveform" id="triangle" autocomplete="off">
                    <label class="btn btn-outline-primary" for="triangle"><svg viewBox="0 0 120 120" width="40" height="40"
                        preserveAspectRatio="xMidYMid">
                        <polyline points="0 60, 15 60, 35 20, 85 100, 105 60, 120 60" />
                    </svg></label>


                </div>

                <!-- <svg role="button" class="btn btn-outline-primary" viewBox="0 0 120 120" width="40" height="40"
                    preserveAspectRatio="xMidYMid">
                    <polyline points="0 60, 20 60, 20 20, 60 20, 60 100, 100 100, 100 60, 120 60" />
                </svg>


                <svg role="button" class="btn btn-outline-primary" viewBox="0 0 120 120" width="40" height="40"
                    preserveAspectRatio="xMidYMid">
                    <polyline points="0 60, 15 60, 35 20, 85 100, 105 60, 120 60" />
                </svg> -->

            </div>
            <div class="col-md-8 p-3">
            </div>
        </div>

        <hr>

        <div class="row my-2">
            <p class="col-md-1">Gain</p>
            <input (input)="changeDetect(gain)" [(ngModel)]="gain" class="col-md-6" type="range" name="gain" id="gainInput" min='0' max="1"
                step="0.01" >
            <input (input)="changeDetect(gain)" [(ngModel)]="gain" class="col-md-1 mx-1 rounded-pill" type="number" value="{{gain}}">
        </div>

        <div class="row my-2">
            <p class="col-md-1">Frequency</p>
            <input (input)="changeDetect(frequency)" [(ngModel)]="frequency" class="col-md-6" type="range" name="freqRange" id="frequency" min='20'
                max="20000" step="0.01"> 
            <input (input)="changeDetect(frequency)" [(ngModel)]="frequency" type="number" class="col-md-1 mx-1 rounded-pill" value="{{frequency}}">
        </div>

        <hr>

        <div class="row my-2 text-center">
            <!-- <button id="startBtn" class="btn btn-outline-secondary" (click)="playback()">Start</button> -->
            <p><strong>Press ENTER to playback/resume</strong></p>
        </div>
    </div>
</section>