<section id="header">
  <div class="text-center justify-content-center pt-3">
    <h1>Wave Oscillator Sandbox</h1>

    <hr>
    
    <ul class="nav justify-content-center col mx-auto ">
      <li class="nav-item mx-1">
        <a class="nav-link btn btn-outline-primary" routerLink="/">Waaves</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link btn btn-outline-primary " routerLink="/bout">About</a>
      </li>
    </ul>
  </div>
</section>
<hr>


<router-outlet></router-outlet>