.nav-link {
    background-color: #16697A;
    color: #EDE7E3;
    border: solid 1px transparent;
}

.nav-link:hover {
    background-color: #EDE7E3;
    color: #16697A;
    border: solid 1px #16697A;
}